name: Clippy and Tests

on:
  push:
    branches:
      - main
      - next
    pull_request:

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-latest

    strategy:
      matrix:
        feature: [default, async_tokio, async_std]

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy
          override: true

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --no-default-features --features ${{ matrix.feature }}

  tests:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        feature: [default, async_tokio, async_std]

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: clippy
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-default-features --features ${{ matrix.feature }}
